.button {
   padding: 10px 15px;
   color: #ffffff;
   background-color: rgba(0, 0, 0, 0.8);
   border: none;
   border-radius: 8px;
   margin: 5px 0;

   &:hover {
      color: rgb(5, 5, 5);
      background-color: #f6f5f5;
      box-shadow: 1px 1px 1px #10100e;
      ;
      font-weight: normal;

   }

   &:active {
      background-color: #3c2d2d
   }
}