$footer-bg: rgba(0, 0, 0, 0.9);
$footer-text-color: #fbfbfb;
$footer-title-color: #fffefe;
$footer-font-family: "Roboto", sans-serif;
$footer-padding: 10px 0px;
$footer-link-padding: 15px 0px;
$footer-link-font-size: 18px;
$footer-title-font-size: 20px;
$footer-title-letter-spacing: 4px;

.footer {
   display: flex;
   background-color: $footer-bg;

   .footer__item {
      text-align: center;
      display: flex;
      justify-content: space-between;


   }




   .footer__title {
      font-family: $footer-font-family;
      font-weight: 800;
      font-size: $footer-title-font-size;
      letter-spacing: $footer-title-letter-spacing;
      text-transform: uppercase;
      color: $footer-title-color;
      padding: 10px 30px;
   }
}