.footer {
   display: flex;
   justify-content: space-around;
   padding: 10px 0;
   border-top: 1px solid #333;

   .footer__item {

      text-align: center;
      display: flex;
      flex-direction: column;
   }

   .footer__links {
      font-size: 20px;
      text-decoration: none;
      color: #333;
      padding: 15px 0;
   }

   .footer__title {
      font-size: 30px;
      font-weight: 700;
   }
}