.footer {
   display: flex;
   justify-content: space-around;
   padding: 10px 0;

   background-color: rgba(0, 0, 0, 0.9);

   .footer__item {

      text-align: center;
      display: flex;
      flex-direction: column;
   }

   .footer__links {
      font-size: 18px;
      text-decoration: none;
      color: #fbfbfb;
      padding: 15px 0;
      font-weight: 800;
      font-family: 'Montserrat';
   }

   .footer__title {
      font-size: 20px;
      letter-spacing: 4px;
      font-weight: 800;
      text-transform: uppercase;
      color: #fffefe;
      font-family: 'Montserrat';

   }
}