.navbar {
   display: flex;
   padding: 10px 20px;
   justify-content: space-between;
   align-items: center;
   font-family: "Roboto", sans-serif;
   background-color: rgba(0, 0, 0, 0.9);

   .navbar__line {
      display: flex;
      min-width: 250px;
      justify-content: space-around;
   }

   .navbar__item {
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease;
      color: aliceblue;

   }

   :hover {
      color: #f1c40f;
      text-shadow: 0 0 10px #f1c40f;
   }


   .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 4px;

      border-radius: 8px;
      padding: 5px 3px;
   }

   .phone {
      font-weight: bold;
      letter-spacing: 3px;
      color: #fff;

      padding: 5px 3px;
      border-radius: 8px;
   }

   .logotext {
      color: #fff;

   }

   .logohighlight {
      color: #f1c40f;
      margin-left: 8px;
      text-shadow: 0 0 10px #f1c40f;
   }





}