$font-family: "Roboto", sans-serif;
$font-weight-bold: 700;
$input-padding: 5px 10px;
$input-border-radius: 5px;
$btn-padding: 10px 15px;
$btn-bg-color: rgba(0, 0, 0, 0.8);
$btn-hover-bg: #f6f5f5;
$btn-hover-shadow: 1px 1px 1px #10100e;
$btn-active-bg: #3c2d2d;
$btn-text-color: #ffffff;
$btn-hover-text: rgb(5, 5, 5);

.form {
   display: flex;
   flex-direction: column;
   justify-content: center;

   .title {
      font-family: $font-family;
      font-weight: $font-weight-bold;
      font-style: normal;
      padding: 10px 0; // Убрана дублирующая строка
   }

   .input {
      padding: $input-padding;
      border-radius: $input-border-radius;
      border: none;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
   }

   .errors {
      color: #d9534f;
      font-size: 14px;
      font-weight: bold;
      margin: 8px 0px;
      background-color: #f8d7da;
      padding: 10px;
      border: 1px solid #f5c6cd;
      text-align: center;
      border-radius: 8px;
      list-style-type: none;
   }

   .btn {
      padding: $btn-padding;
      color: $btn-text-color;
      background-color: $btn-bg-color;
      border: none;
      border-radius: 8px;
      margin: 10px 0;

      &:hover {
         color: $btn-hover-text;
         background-color: $btn-hover-bg;
         box-shadow: $btn-hover-shadow;
         font-weight: normal;
      }

      &:active {
         background-color: $btn-active-bg;
      }
   }
}