$paggination-bg: rgba(0, 0, 0, 0.9);
$page-color: aliceblue;
$page-hover-shadow: 1px 1px 10px #f1c40f;
$page-current-color: #f1c40f;
$page-current-shadow: 0 0 10px #f1c40f;
$page-padding: 5px 10px;
$page-margin: 0 10px;
$page-border-radius: 8px;
$page-font-size: 20px;
$page-font-weight: bold;

.paggination {
   display: flex;
   list-style-type: none;
   padding: 20px 0;
   background-color: $paggination-bg;

   &__main {
      width: 100%;
   }

   .page {
      padding: $page-padding;
      margin: $page-margin;
      color: $page-color;
      background-color: inherit;
      border: none;
      border-radius: $page-border-radius;
      font-size: $page-font-size;
      font-weight: $page-font-weight;
      cursor: pointer;

      &:hover {
         box-shadow: $page-hover-shadow;
      }

      &__current {
         color: $page-current-color;
         font-weight: $page-font-weight;
         text-shadow: $page-current-shadow;
      }
   }
}

@media(max-width:735px) {
   .paggination {
      justify-content: center;
   }
}