.paggination {
   display: flex;
   text-decoration: none;
   list-style-type: none;
   padding: 20px 0px;
   background-color: rgba(0, 0, 0, 0.9);

}

.paggination__main {
   width: 100%;


}

.page {
   padding: 5px 10px;
   margin: 0 10px;
   color: aliceblue;
   background-color: inherit;
   border: none;
   border-radius: 8px;
   font-size: 20px;
   font-weight: bold;
   cursor: pointer;

   &:hover {

      box-shadow: 1px 1px 10px #f1c40f;
   }
}

.page__current {
   color: #f1c40f;
   font-weight: bold;
   text-shadow: 0 0 10px #f1c40f;
}