.card__list {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   padding: 20px;
}

@media(max-width:1380px) {
   .card__list {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media(max-width:1050px) {
   .card__list {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media(max-width:735px) {
   .card__list {
      grid-template-columns: repeat(1, 1fr);
   }
}