.select {
   padding: 8px 15px;
   margin: 20px 20px 0px;



   border-radius: 9px;
   cursor: pointer;
   font-size: 15px;
   font-weight: 600;

   &:hover {
      box-shadow: 2px 2px 2px #10100e;
   }
}